@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: grey;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.github-link {
  text-decoration: underline;
  color: black;
}

.github-link:hover {
  color: blue
}

.github-link:visited {
  color: purple;
}

.page-headers {
  font-size: xx-large;
  padding: 10;
  color: rgb(254, 254, 254);
  background-color: #1f2933;
  border-radius: 10;
  text-align: center;
  margin: 50;
}

.nav-links {
  background-color: #1f2933;
  color: #ffffff;
  text-align: center;
  margin: 10;
  padding: 5;
  border-radius: 10;
  
}